<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>ICS 199 Project Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified Bootstrap from a CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
/>
<!-- Custom Stylesheet -->
<link rel="stylesheet" href="css/style.css" /> 
</head>
<body>
<!-- You activate bootstrap through class names. "container" sets up some padding and makes the webpage responsive. -->
<div class="container">
    <!-- "jumbotron" makes a jumbotron! -->
    <div class="jumbotron">
        <h1>ICS 199 Project Template</h1>
        <p>This project serves as a proof of concept and template for your 199 Project.</p>
    </div>
    <div class="row">
        <!-- col-md-6 sets up a two column layout in bootstrap. Bootstrap uses 12 columns on a page.
             by saying each column is 6 of the 12, you make two columns total! -->
        <div class="col-md-6">
            <p>The purpose of this project is to give you a bouncing off point for your own project.
            This project incorporates a front-end CSS framework called <a href="http://getbootstrap.com/">bootstrap</a>.
            You don't have to use this framework but this project gives you a small sample on how to use it.
            I won't be teaching it so you will have to learn it on your own if you wish to use it.
            It really isn't that hard!!
            </p>
            <p>This project also gives you an example of almost all the PHP Concepts you learned from the slides as well as a review of CSS and HTML5 that you learned in previous courses.
            </p>
        </div>
        <!-- second column content starts here -->
        <div class="col-md-6" style="padding-left: 50px;">
        <!-- BEGIN SPECIFIC PAGE CONTENT -->
