<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Welcome to Videogames & More!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified Bootstrap from a CDN -->
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" type ="text/css" href="css/style.css" > 
    </head>
    <body>
        <!-- You activate bootstrap through class names. "container" sets up some padding and makes the webpage responsive. -->
        <div class="container">
            <!-- "jumbotron" makes a jumbotron! -->
            <div class="jumbotron"> 
                <header>
                    <h1>Videogames & More</h1>
                    <p></p>
                    <div class="row">
                        <!-- col-md-6 sets up a two column layout in bootstrap. Bootstrap uses 12 columns on a page.
                             by saying each column is 6 of the 12, you make two columns total! -->
                        <div class="col-md-6">
                            <p>
                            </p>
                        </div>
                        <!-- second column content starts here -->
                        <div class="col-md-6" style="padding-left: 50px;">
                            <!-- BEGIN SPECIFIC PAGE CONTENT -->
