
h1 { 
    font-family: 'Impact';
    margin-top: 5px;
    font-size: 100px;
}
body {
    background-image: url(images/videogame.jpg); 
    background-repeat: no-repeat; 
    background-position: 50% 50%; 
    background-attachment:fixed; 
    color: cornflowerblue; 
    margin: 0; 
	text-align: center;
}
p#footer{
	height: 50px; 
	padding: 30px 0;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}
button {
    font-family: Tahoma, Geneva, sans-serif;
    border-style: outset;
    border-radius: 8px;
    border: 2px black solid;
    padding: 20px 75px;
    background-color: white;
    font-size: 15px;
}
table {
	margin-left: auto;
	margin-right: auto;
}
table#total {
	background-color: black;
	border: 10px solid white;
	color: white;
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
}
table#wiiGames {
	background-color: black;
	color: cornflowerblue;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
	text-align: left;
}
table#playstationGames {
	background-color: black;
	color: cornflowerblue;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
	text-align: left;
}
table#allProducts {
	background-color: black;
	color: cornflowerblue;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
	text-align: left;
    
}
table#getAllMiscItems {
	background-color: black;
	color: cornflowerblue;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
	text-align: left;
}
table#verify {
	background-color: white;
	border: 20px solid white;
	width: 15%;
	padding: 15px 20px;
	display: inline-block;
    text-align: center;
	background-color: black;
}
table#cart {
	background-color: black;
	border: 10px solid white;
	color: cornflowerblue;
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;
}
label#returningCustomer {
	color: cornflowerblue;
    font-size: 30px;
}
label#newCustomers {
    color: cornflowerblue;
    font-size: 30px;
}
label#firstName {
    color: cornflowerblue;
    font-size: 20px;
    
}
label#lastName {
    color: cornflowerblue;
    font-size: 20px;
    
}
label#address {
    color: cornflowerblue;
    font-size: 20px;
}


label#email {
	color: cornflowerblue;
    font-size: 20px;
}
div#login{
    font-family: Tahoma, Geneva, sans-serif; 
    margin: auto;
    width: 15%;
    border: 10px solid white;
    padding: 15px 20px;
    background-color: black;  
}
div#newCustomer {
    font-family: Tahoma, Geneva, sans-serif; 
    margin: auto;
    width: 15%;
    border: 10px solid white;
    padding: 15px 20px;
    background-color: black;
}
label#password {
	color: cornflowerblue;
    font-size: 20px;
}
button#userLogin {
	color: cornflowerblue;
}
button#mainPage {
    font-size: 40px;  
}
button#continueShopping {
	color: red;
	font-size: 20px;
}
a:visited {
	color: cornflowerblue;
}
button#checkout {
	color: red;
	font-size: 20px;
}
button#emptyCart {
	color: cornflowerblue;
	font-size: 20px;
}
button#update {
	color: cornflowerblue;
	font-size: 20px;
}
button#delete {
	color: red;
	font-size: 20px;
}
button#wii {
     font-size: 30px;
}
button#playstationGames {
    font-size: 30px;
}
button#miscItems {   
    font-size: 30px;
}
input#submitContact { 
	font-family: Tahoma, Geneva, sans-serif;  
    color: cornflowerblue;
	font-size: 20px;
}
form#contact {
	border: 10px solid white;
	width: 15%;
	padding: 15px 20px;
	display: inline-block;
    text-align: center;
	background-color: black;
	color: cornflowerblue;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
}
form#thankYou {
	padding: 15px 20px;
	display: inline-block;
    text-align: center;
	background-color: black;
	color: cornflowerblue;
    font-size: 25px;
    font-family: Tahoma, Geneva, sans-serif;
	border-style: groove;
	border-color: cornflowerblue;
}
table#cartReview {
	column-gap: 40px;
	float: center;
	border: 10px solid white;
	color: cornflowerblue;
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: black;
}
p#loginVerify {
	font-size: 20px;
	background-color: black;
	padding: 10px;
}

p#wrongPass {
	font-size: 20px;
	background-color: black;
	padding: 10px;
}
table#paymentSuccess {
	background-color: black;
	font-size: 20px;
}
h2#success {
	background-color: black;
	font-size: 20px;
}