
h1 { 
    font-family: 'Impact';
    margin-top: 5px;
    font-size: 100px;
}
body {
    background-image: url(images/videogame.jpg); 
    background-repeat: no-repeat; 
    background-position: 50% 50%; 
    background-attachment:fixed; 
    color: cornflowerblue; 
    margin: 0; 
	text-align: center;
}
p#footer{
	bottom: 0;
	margin: 3px auto;
	font-family: Tahoma, Geneva, sans-serif;
}
button {
    font-family: Tahoma, Geneva, sans-serif;
    border-style: outset;
    border-radius: 8px;
    border: 2px black solid;
    padding: 20px 75px;
    background-color: white;
}
table {
	margin-left: auto;
	margin-right: auto;
}
table#total {
	background-color: black;
	color: white;
	font-size: 30px;
	font-family: Tahoma, Geneva, sans-serif;
}
table#wiiGames {
	background-color: black;
	color: red;
}
table#playstationGames {
	background-color: black;
	color: red;
}
table#allProducts {
	background-color: black;
	color: red;
}
table#getAllMiscItems {
	background-color: black;
	color: red;
}
table#cart {
	background-color: black;
	color: cornflowerblue;
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;
}
label#returningCustomers {
	color: red;
}
label#email {
	color: red;
}
label#password {
	color: red;
}
button#userLogin {
	color: red;
}
button#mainPage {
    font-size: 40px;
    
}
button#continueShopping {
	color: red;
	font-size: 20px;
}
a:visited {
	color: cornflowerblue;
}
button#checkout {
	color: red;
	font-size: 20px;
}
button#emptyCart {
	color: cornflowerblue;
	font-size: 20px;
}
button#update {
	color: cornflowerblue;
	font-size: 20px;
}
button#delete {
	color: red;
	font-size: 20px;
}
